#{extends 'main.html'/}
<div class="container">
    <form action="" method="post" role="form">
        <legend>Persona</legend>

        <div class="form-group col-lg-3">
            <label for="rut">RUT</label>
            <input type="text" class="form-control" name="rut" id="rut" placeholder="12.345.678-9">
        </div>

        <div class="form-group col-lg-9">
            <label for="nombres">Nombres</label>
            <input type="text" class="form-control" name="nombres" id="nombres" placeholder="">
        </div>
        <div class="form-group col-lg-6">
            <label for="apellidoPaterno">Apellido Paterno</label>
            <input type="text" class="form-control" name="apellidoPaterno" id="apellidoPaterno" placeholder="">
        </div>
        <div class="form-group col-lg-6">
            <label for="apellidoMaterno">Apellido Materno</label>
            <input type="text" class="form-control" name="apellidoMaterno" id="apellidoMaterno" placeholder="">
        </div>

        <div class="form-group col-lg-6">

            <label for="genero">Genero</label>
            <select name="genero" id="inputID" class="form-control">
                <option value=""> -- Select One -- </option>
                <option value="0"> -- Masculino -- </option>
                <option value="1"> -- Femenino -- </option>
            </select>

        </div>
        <div class="form-group col-lg-6">
            <label for="fechaNacimiento">Fecha Nacimiento</label>
            <input type="text" class="form-control" name="fechaNacimiento" id="fechaNacimiento" placeholder="">
        </div>
        <div class="form-group col-lg-4">
            <label for="pais">Pais</label>
            <select name="pais" id="pais" class="form-control">
                <option value="">Seleccione..</option>
                #{list items:paises,as:'p'}
                    <option value="${p.id}">${p.nombre} </option>
                #{/list}

            </select>
        </div>
        <div class="form-group col-lg-4">
            <label for="region">Region</label>
            <select name="region" id="region" class="form-control">
            </select>
        </div>
        <div class="form-group col-lg-4">
            <label for="provincia" >Provincia</label>
            <select name="provincia" id="provincia" class="form-control">

            </select>
        </div>
        <div class="form-group col-lg-4">
            <label for="comuna" >Comuna</label>
            <select name="comuna" id="comuna" class="form-control">

            </select>
        </div>

        <div class="form-group col-lg-8">
            <label for="direccion">Direccion</label>
            <input type="text" class="form-control" name="direccion" id="direccion" placeholder="">
        </div>
        <div class="form-group col-lg-6">
            <label for="telefono">Telefono</label>
            <input type="text" class="form-control" name="telefono" id="telefono" placeholder="">
        </div>
        <div class="form-group col-lg-6">
            <label for="celular">Celular</label>
            <input type="text" class="form-control" name="celular" id="celular" placeholder="">
        </div>

        <button type="submit" class="btn btn-primary">Submit</button>
    </form>

    <br/>
    <br/>

    <button type="button" class="btn"><a href="@{Application.index()}">Volver</a></button>
</div>

<script type="text/javascript">
    $(function(){
        var $pais = $("#pais");
        var $regiones = $("#region");
        $pais.change(function(){
            $.ajax({
                url:"@{Application.getRegiones()}",
                type:"POST",
                dataType:"json",
                data:{id_pais:$("#pais").val()},
                success:function(resp){
                    $regiones.empty();
                    $regiones.append($('<option>').text("Seleccione..").attr('value', ''));
                    $.each(resp, function (k, value) {
                        $regiones.append($('<option>').text(value.nombre).attr('value', value.id));
                    });
                },
                error:function(error){
                    alert("Error");

                }
            });
        });
    });
</script>

<script type="text/javascript">
    $(function(){
        var $regiones = $("#region");
        var $provincias = $("#provincia");
        $regiones.change(function(){
            $.ajax({
                url:"@{Application.getProvincias()}",
                type:"POST",
                dataType:"json",
                data:{id_region:$("#region").val()},
                success:function(resp){
                    $provincias.empty();
                    $provincias.append($('<option>').text("Seleccione..").attr('value',''));
                    $.each(resp,function(k,value){
                        $provincias.append($('<option>').text(value.nombre).attr('value',value.id));
                    });
                },
                error:function(error){
                    alert("Error");
                }
            });
        });
    });
</script>

<script type="text/javascript">
    $(function(){
        var $provincias = $("#provincia");
        var $comunas = $("#comuna");
        $provincias.change(function(){
            $.ajax({
                url:"@{Application.getComunas()}",
                type:"POST",
                dataType:"json",
                data:{id_provincia:$("#provincia").val()},
                success:function(resp){
                    $comunas.empty();
                    $comunas.append($('<option>').text("Seleccione..").attr('value',''));
                    $.each(resp,function(k,value){
                        $comunas.append($('<option>').text(value.nombre).attr('value',value.id));
                    });
                },
                error:function(error){
                    alert("Error");
                }
            });
        });
    });
</script>