#{extends 'main.html' /}
#{set title:'Home' /}
<h1>Maestro Personas</h1>
<hr/>

<ul>
    <li><a href="@{Application.formularioPersona()}">Crear Persona</a></li>
</ul>
<br/>
<table class="table table-hover">
	<thead>
		<tr>
			<th>Rut</th>
            <th>Nombre</th>
            <th>Acciones</th>
		</tr>
	</thead>
	<tbody>
		#{list items:personas,as:'persona'}
        <tr>
            <td>${persona.rut}</td>
            <td>${persona.nombreCompleto}</td>
            <td>
				<a href="#">borrar</a><br/>
                <a href="#">editar</a>
			</td>
        </tr>
		#{/list}
	</tbody>
</table>